.Collection1 {
  padding: 100px 0;

  &__product-img {
    // width: 480px;
    height: 500px;
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      margin: 268px 0 0 0;
    }
  }
}