.hero2 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;

  .hero2__collection1 {
    width: 50%;
    height: 100%;
    position: relative;
    
    .hero2__content-container {
      justify-content: flex-end;
      text-align: right;
      padding-right: 7rem;
    }
  }

  .hero2__collection2 {
    width: 50%;
    height: 100%;
    position: relative;

    .hero2__content-container {
      justify-content: flex-start;
      text-align: left;
      padding-left: 7rem;
    }
  }

  &__bg {
    position: absolute;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &--aligned-center {
    .hero2__content-container {
      justify-content: center;
      text-align: center;
    }
  }
  &--aligned-left {
    .hero2__content-container {
      justify-content: flex-start;
      padding-left: 7rem;
      text-align: left;
    }
    .hero2__info {
      align-items: flex-start;
    }
  }

  &__content-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end;
    padding-bottom: 10rem;
  }
  &__title {
    font-size: 3rem;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
  }
  &__info {
    max-width: 475px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__paragraph {
    margin-bottom: 2rem;
    letter-spacing: 1.35px;
    line-height: 18px;
  }
  &__button {
    padding: 15px 30px;
    background: transparent;
    text-align: center;
    width: 200px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    font-size: .8rem;
    color: white;
    border: 4px solid white;
    transition: all .3s ease-in-out;
    &:hover {
      background: white;
      color: black;
    }
  }
}