@use './reset';
@use '../components/components';
@use './bootstrap/scss/bootstrap.scss';

body {
  background-color: #f7f9fd;
}

.fixed-nav {
  &.transparent-nav {
    .header {
      background: transparent;
      a {
        color: white;
      }
    }
  }

  .header {
    position: fixed;
    width: 100%;
    z-index: 10;
  }
}